phonenumberslite==8.10.18
six==1.11.0
pytz==2014.2
nltk==3.4.5
numpy==1.16.5
elasticsearch==5.5.0
elastic-apm==5.10.0
requests==2.20.0
requests-aws4auth==0.9
Django==1.11.29
django-dotenv==1.4.2
weighted-levenshtein==0.1
regex==2018.7.11
word2number==1.1
python-crfsuite==0.9.6
boto==2.49.0
boto3==1.8.4
python-dateutil==2.7.3
pandas==0.21.0
pyaml==19.4.1
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-2.3.0/nl_core_news_sm-2.3.0.tar.gz#egg=nl_core_news_sm
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-2.3.0/fr_core_news_sm-2.3.0.tar.gz#egg=fr_core_news_sm
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz#egg=de_core_news_sm
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.3.1/es_core_news_sm-2.3.1.tar.gz#egg=es_core_news_sm
typing==3.6.2
flake8==3.4.1
mock==2.0.0
coverage==5.5
nose-exclude==0.5.0
django-nose==1.4.7
sentry-sdk==0.20.3
jedi==0.17.2
ipython==7.16.1
