six==1.11.0
gunicorn==19.6.0
pytz==2014.2
nltk==3.2.5
numpy==1.10.4
elasticsearch==5.5.0
requests==2.20.0
requests-aws4auth==0.9
Django==1.11.22
django-dotenv==1.4.2
weighted-levenshtein==0.1
regex==2018.7.11
ipython
word2number==1.1
python-crfsuite==0.9.6
boto==2.49.0
boto3==1.8.4
python-dateutil==2.7.3
pandas==0.19.0
mock==2.0.0
django-nose==1.4.5
typing==3.6.2
flake8==3.4.1
pyaml==19.4.1
coverage==4.5.3
nose-exclude==0.5.0
